// Configuration
@import "lib/colors";
@import "lib/fonts";

// Helpers
@import "helpers/all";

// Reset
@import "lib/reset";
html, body { background: $background-color; }

// Libraries
// @import "lib/monokai";
@import "libraries/dracula";

// Breakpoints
$desktop-page-width: 620px;

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @include breakpoint(desktop) {
    font-size: 14px;
  }
}

body {
  font-family: $roboto-mono;
  background: #fff;
  color: $changelog-black;
  position: relative;
}

hr {
  margin: 65px auto;
  height: 10px;
  width: 100%;
  // border-top: 10px dashed lighten($changelog-black, 80);
  background-color: lighten($changelog-black, 88);
}

.signature {
  margin: 28px 0 -5px -12px !important;
  img {
    margin: 0 !important;
    width: 200px;
    @include breakpoint(desktop) {
      width: 250px;
    }
  }
}

//
// -- Links -- //
//

a {
  color: #292929;
  text-decoration: none;
  &:hover {
    color: #292929;
    text-decoration: none;
  }
  &:focus, &:active {
    outline: none;
  }
}

//
// -- Wrapper -- //
//

body {
  padding: 30px;
}

.site-wrapper {
  width: 100%;
  margin: 0 auto;
  // padding: 50px 0 80px 0;

  @include breakpoint(desktop) {
    width: 700px;
  }
}

.site-content {
  padding-bottom: 50px;
}

.site-header {
  margin-bottom: 30px;
  h1 {
    font-family: $inter;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    a:hover {
      text-decoration: underline;
    }
  }
  h2 {
    color: #909090;
    font-weight: 500;
  }
}

.site-about {
  p {
    font-size: 13px;
    line-height: 1.5;
  }
  // Link styles
  @include link();
}

.site-seperator {
  margin-top: 30px;
}

//
// Posts styles
//

.post-single {
  .post__meta {
    margin-top: 10px;
  }
}

.post-index {
  .post {
    margin-bottom: 15px;
    a:hover {
      text-decoration: underline; 
    }
  }
  .format-post > a {
    font-weight: bold;
  }
  .draft {
    background-color: #e0e0e0;
  }
}

.post-title-icon {
  color: #aaa;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  &:hover {
    color: #292929;
  }
}

.format-link dl {
  dt {
    // ...
  }
  dd {
    margin-top: 15px;
    // width: 70%;
    p {
      font-size: 14px;
    }
  }
}

.post-comments, .post-author {
  display: none;
}

.paging {
  li:first-of-type {
    margin-bottom: 10px;
  }
  li:last-of-type {
    margin-bottom: 10px;
  }
  a {
    background-color: #eee;
    border-radius: 2px;
    color: #aaa;
    display: block;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background-color: #292929;
      color: #fff;
    }
  }
  .newer .ss-icon {
    position: relative;
    left: 5px;
    top: 2px;
  }
  .older .ss-icon {
    position: relative;
    right: 5px;
    top: 2px;
  }
}

.post__permalink {
  color: #000;
}

// Post formats
.format{

  // Post
  &-post {
    .post-header {
      margin-bottom: 50px;

      &__title {
        font-size: 30px;
        font-weight: $roboto-mono-bold;
        line-height: 1.5;
        margin-bottom: 6px;
        a {
          text-decoration: underline;
          &:hover {
            background-color: #eee;
            text-decoration: none;
          }
        }
      }

      &__byline {}
    }

    .post-meta {
      font-size: 14px;
    }
  }

  // Post
  &-page {
    .post-header {
      margin-bottom: 30px;
    }
    .post-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .post-meta {
      font-size: 14px;
    }
  }

  // Link
  &-link {
    .post-header {
      margin-bottom: 20px;
    }
    .post-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 5px;
      
      a:hover {
          text-decoration: underline;
      }
    }
    .post-meta {
      font-size: 13px;
    }
  }
}

// Post styles
.post {

  // Post content styles
  &-content {
    h2, h3, h4, h5, h6 {
      font-size: 14px;
      font-weight: $inter-bold;
      margin-bottom: 15px;
    }
    h1 {
      font-family: $inter;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    h2 {
      &:first-of-type {
        margin-top: 60px;
      }
      font-size: 26px;
      margin: 100px 0 25px 0;
    }
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      margin: 40px 0 10px 0;
    }
    strong {
      font-weight: $inter-bold;
    }
    p {
      margin-bottom: 30px;
      &:first-of-type {
        font-family: $roboto-mono;
        font-size: 18px;
        line-height: 1.6;
      }
    }
    p, li {
      font-family: $inter;
      font-size: 16px;
      line-height: 1.8;
    }

    // Code highlighting
    .highlighter-rouge {
      margin-bottom: 45px;
    }
    p code, li code {
      background-color: #f0f0f0;
      border-radius: 3px;
      border: 1px solid #c0c0c0;
      color: inherit;
      font-family: $roboto-mono;
      font-size: 14px;
      padding: 2px 4px;
    }
    pre {
      clear: both;
      font-size: 14px;
      line-height: 1.5;
      overflow: auto;
      padding: 15px 20px;
      word-break: normal;
      border-radius: $base-border-radius;
    }
    pre code {
      display: inline;
      line-height: inherit;
      max-width: initial;
      word-wrap: normal;
    }

    // Link styles
    @include link();

    em {
      font-style: italic;
    }
    mark {
      background-color: #fffeca;
      padding: 0 2px;
    }
    strong {
      color: #000;
    }
    blockquote {
      border-left: 10px solid $blue;
      margin: 20px 0;
      margin-left: -23px;
      padding-left: 20px;
      width: 100%;
    }

    // Lists
    ul, ol { margin-bottom: 20px; }
    ul li { list-style: disc inside; }
    ol li { list-style: decimal inside; }

    // embeds
    img {
      // border-radius: 3px;
      // background: #eeeeee;
      // border: 1px solid #cacaca;
      margin-bottom: 15px;
      // padding: 5px;
      max-width: 100%;
      &.wide {
        max-width: 100%;
        @include breakpoint(desktop) {
          margin-left: -20%;
          max-width: 140%;
        }
      }
      &.border {
        border: 1px solid $light-grey;
      }
      &.alignright {
        // @include float-right;
        margin: 5px 0 15px 25px;
      }
      &.alignleft {
        // @include float-left;
        margin: 5px 25px 15px 0;
      }
      &.aligncenter {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    .grid-figure {
      margin: 50px 0;
      &.caption-right {
        @include breakpoint(desktop) {
          display: grid;
          grid-template-columns: 85% 15%;
          grid-column-gap: 2.5%;
          width: 130%;
          margin-top: 50px;
          margin-right: 0;
          margin-bottom: 50px;
          margin-left: -17.5%;
        }
      }
      &.caption-left {
        @include breakpoint(desktop) {
          display: grid;
          grid-template-columns: 15% 85%;
          grid-column-gap: 2.5%;
          width: 130%;
          margin-top: 50px;
          margin-right: 0;
          margin-bottom: 50px;
          margin-left: -17.5%;
          p {
            text-align: right;
          }
        }
      }
      &.wide-image {
        width: 130%;
        margin-left: -17.5%;
        figcaption {
          text-align: center;
          margin-top: 20px;
        }
      }
      img {
        @include breakpoint(desktop) {
          margin: 0;
        }
      }
      figcaption, figcaption p {
        font-size: 12px;
        line-height: 1.5;
      }
      figcaption p {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .align-self-end {
      align-self: end;
    }
    iframe {
      margin-bottom: 20px;
      max-width: 100%;
    }
  }
}