---
layout: default
title: Adam Stacoviak
---

<div class="posts">

  {% for post in site.posts %}
    <article class="post">
      <header class="post__header">
        <h2 class="post__title">
          {% if post.external_url %}
            <a href="{{ post.external_url }}">{{ post.title }}</a> <span class="post__arrow">&rarr;</span>
          {% else %}
            <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
          {% endif %}
        </h2>
        <p class="post__meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" pubdate="pubdate">{% assign d = post.date | date: "%-d"  %}{{ post.date | date: "%B" }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}</time> &middot; <a href="{{ post.url }}" class="post__permalink" rel="bookmark">∞</a>
        </p>
      </header>

      <div class="post__content">
        {{ post.content }}
      </div>

    </article>
  {% endfor %}

</div>
