// Proxima Nova
@mixin proxima-nova {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}

@mixin proxima-nova-100 {
  @include proxima-nova;
  font-weight: 100;
}

@mixin proxima-nova-300 {
  @include proxima-nova;
  font-weight: 300;
}

@mixin proxima-nova-400 {
  @include proxima-nova;
  font-weight: 400;
}

@mixin proxima-nova-700 {
  @include proxima-nova;
  font-weight: 700;
}

@mixin proxima-nova-900 {
  @include proxima-nova;
  font-weight: 900;
}

@mixin font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

@mixin font-georgia {
  font-family: Georgia, Times, "Times New Roman", serif;
}

@mixin font-monospace {
  // font-family: "Menlo", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-family: "DejaVu Sans Mono", Menlo, Monaco, Consolas, Courier, monospace;
}