<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div id="wrapper">

      <div id="header">
      <h2><a href="/">Hello, I'm Adam Stacoviak</a></h2>
      <p>I follow Jesus. Learn <a href="/about/">more about me</a>.</p>
      <p>I lead product at <a href="https://www.purecharity.com?aff=36437">Pure Charity</a> and run <a href="http://thechangelog.com/">The Changelog</a> and <a href="http://thesassway.com/">The Sass Way</a>.</p>
      </div>

      <div id="main">

        {{ content }}

      </div>

    </div>

    <div id="footer">
      <p>Copyright &copy; 2004-2014 Adam Stacoviak</p>
    </div>

    <script type="text/javascript" src="//use.typekit.net/ahz4mrk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </body>
</html>
